$body-bg: #fff;
$primary: teal;
$secondary: coral;


// PERSONAL EDIT
body{
    background: $body-bg;
    color: #333;
    font-family: 'Comfortaa', cursive;
}

.btn{
    background-color: black ;
    border: none;
}
.btn:hover{
    background: $secondary;
}

.container{
    background: #333 ;
    color: floralwhite;
    border-radius: 12px;
    width: 80%;
    margin: auto;
}

// NAVBAR
.nav-container{
    width: 100%;
    margin: auto;
    .navbar{
        background: none;
        .navbar-collapse{
            justify-content: flex-end;
        }
        .navbar-brand{
            color: $primary;
            font-weight: bolder;
            font-size: 30px;
        }
    }
}


// HERO

.hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url("../images/_rhickeeeeeeey_cyberpunk_city_like_london_and_rome_with_angels__38eff546-aea4-46e3-b4fd-c2e0da2a576d.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    #HeroTitle{
        color: orange;
        font-size: 5em;
    }
    #HeroDescription{
        color: #fff;
    }
}   