$body-bg: #fff;
$primary: teal;
$secondary: teal;

// PERSONAL EDIT
body{
    background: $body-bg;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btn{
    background-color: black ;
    border: none;
}
.btn:hover{
    background: $secondary;
    color: white;
}

.container{
    background: #333 ;
    border-radius: 12px;
    width: 80%;
    margin: auto;
}
.nav-container{
    width: 100%;
    margin: auto;
    .navbar{
        background: none;
        .navbar-collapse{
            display: flex;
            justify-content: flex-end;
            background: silver;
        }
        .navbar-brand{
            color: $secondary;
            font-weight: bolder;
        }
    }
}


